/*
*   Custom CSS styling for the TigerEye webpage created
*   as a term project for COMP 135 at University of the Pacific
*
*   Author: Kyle Cookerly
*/

/* Global styles */

html {
	font-family: sans-serif;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.dropdown-menu {
    padding: 0px;
}

.form-control {
    padding: 6px, 12px;
}

#headerNav {
    font-size: 20px;
    background-color: #E1810D;
    border-bottom: 5px solid #000000;
    margin-bottom: 0px;
}

#headerNav a {
    color: #000000;
    border: 0px;
}

#headerNav #login {
    font-size: 15px;
}

#headerNav a:hover {
    opacity: 0.5;
}

/* main page styles */

#login {
    position: relative;
    float: right;
}

#search {
    padding-top: 9px; 
    float: right;
}

#search-form {
    margin-bottom: 0px;
    padding-right: 20px;
    float: right;
}

#search-button {
    padding-top: 8px;
    font-size: 13px;
    color: #000000;
    background-color: transparent;
    border: 0px;
}

#search-button:hover {
    color: rgba(0,0,0,0.5);
}

#filter {
    padding-top: 9px; 
    float: right;
}

#filter-button {
    padding-top: 8px;
    font-size: 14px;
    color: #000000;
    background-color: transparent;
    border: 0px;
}

#filter-button:hover {
    color: rgba(0,0,0,0.5);
}

#filter-element:hover {
    background-color: #E1810D;
}

#page {
    padding: 0px;
    width: 100%;
    height: 100%;
}

/* TODO probably better to not apply this globally to h4 elements*/
#page h4 {
    float: right;
}

#events-div{
    border-bottom: 2px solid #000000;
    width: 100%;
    height: 33.3%;
}

#clubs-div {
    border-bottom: 2px solid #000000;
    width: 100%;
    height: 33.3%;
}

#social-areas-div {
    width: 100%;
    height: 33.3%;
}

#see-more-button {
    color: #000000;
    background-color: transparent;
    border: 0px;
    /*do this better*/
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
}

#see-more-button:hover {
    color: rgba(0,0,0,0.7);
}

/* Login / Signup page styles */

#home-button {
    position: relative;
    float: right;
}

#login-div {
    padding: 0px;
    width: 50%;
    height: 100%;
}

#login-form {
    width: 85%;
    margin:0 auto;
}

#login-button {
    background-color: #E1810D;
    color: #000000;
    float: right;
}

#login-button:hover {
    color: rgba(0,0,0,0.5);
}

#signup-div {
    padding: 0px;
    width: 50%;
    height: 100%;
}

#signup-form {
    width: 85%;
    margin:0 auto;
}

#create-account-button {
    background-color: #E1810D;
    color: #000000;
    float: right;
}

#create-account-button:hover {
    color: rgba(0,0,0,0.5);
}

/* TODO probably better to not apply this globally to h1 elements*/
#page h1 {
    text-align: center;
}

/* Makes it where the table rows do not have borders */
.table tbody tr td, .table tbody tr th {
    border: none;
}

.row {
    height: 100%;
}

/* Styles for the Events to be displayed */
#event{
    height: 100%;
} 

#events {
    height: 100%;
}
#event-table-div {
    height: 100%;
    font-size: 12px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#events-table {
    width: 75%;
}

#event {
    padding: 0px;
}

#event-image {
    padding-top: 50%;
    padding-bottom: 50%;
}

/* Styles for the Clubs to be displayed */
#club{
    height: 100%;
} 

#clubs {
    height: 100%;
}
#club-table-div {
    height: 100%;
    font-size: 12px;
    padding-top: 10%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#clubs-table {
    width: 75%;
}

#club {
    padding: 0px;
}

#club-image {
    padding-top: 50%;
    padding-bottom: 50%;
}

/* Styles for the Social Areas to be displayed */
#social {
    height: 100%;
} 

#social-areas {
    height: 100%;
}
#social-table-div {
    height: 100%;
    font-size: 12px;
    padding-top: 10%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#social-table {
    width: 75%;
}

#social-area {
    padding: 0px;
}

#social-image {
    padding-top: 50%;
    padding-bottom: 50%;
}
