/*
*   Custom CSS styling for the TigerEye webpage created
*   as a term project for COMP 135 at University of the Pacific
*
*   Author: Kyle Cookerly
*/

/* Global styles */

html {
    position: relative;
    min-height: 100%;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

body {
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.dropdown-menu {
    padding: 0px;
}

.form-control {
    padding: 6px, 12px;
}

#headerNav {
    font-size: 20px;
    background-color: #E1810D;
    border-bottom: 5px solid #000000;
    margin-bottom: 0px;
}

#headerNav a {
    color: #000000;
    border: 0px;
}

#headerNav #login {
    font-size: 15px;
}

#headerNav a:hover {
    opacity: 0.5;
}

/* main page styles */

#login {
    position: relative;
    float: right;
}

#welcome {
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 15px; 
    float: right;
    color: #000000;
}

#search {
    padding-top: 9px; 
    float: right;
}

#search-form {
    margin-bottom: 0px;
    padding-right: 20px;
    float: right;
}

#search-button {
    padding-top: 8px;
    font-size: 13px;
    color: #000000;
    background-color: transparent;
    border: 0px;
}

#search-button:hover {
    color: rgba(0,0,0,0.5);
}

#add-event {
    padding-top: 9px; 
    float: right;
}

#modal-button {
    padding-top: 8px;
    font-size: 14px;
    color: #000000;
    background-color: transparent;
    border: 0px;
}

#modal-button:hover {
    color: rgba(0,0,0,0.5);
}

#page {
    padding: 0px;
    width: 100%;
    height: 100%;
}

/* TODO probably better to not apply this globally to h4 elements*/
#page h4 {
    float: right;
}

#see-more-events, #see-more-clubs, #see-more-social,
#see-less-events, #see-less-clubs, #see-less-social {
    color: #000000;
    background-color: transparent;
    border: 0px;
    /* do this better? */
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
}

#see-more-events:hover, #see-more-clubs:hover, #see-more-social:hover,
#see-less-events:hover, #see-less-clubs:hover, #see-less-social:hover  {
    color: rgba(0,0,0,0.7);
}

/* Login / Signup page styles */

#home-button {
    position: relative;
    float: right;
}

#login-div {
    padding: 0px;
    width: 50%;
    height: 100%;
}

#login-form {
    width: 85%;
    margin:0 auto;
}

#login-button {
    background-color: #E1810D;
    color: #000000;
    float: right;
}

#login-button:hover {
    color: rgba(0,0,0,0.5);
}

#signup-div {
    padding: 0px;
    width: 50%;
    height: 100%;
}

#signup-form {
    width: 85%;
    margin:0 auto;
}

#create-account-button {
    background-color: #E1810D;
    color: #000000;
    float: right;
}

#create-account-button:hover {
    color: rgba(0,0,0,0.5);
}

/* TODO probably better to not apply this globally to h1 elements*/
#page h1 {
    text-align: center;
}

/* Makes it where the table rows do not have borders */
.table tbody tr td, .table tbody tr th {
    border: none;
}

/* Styles for the Events to be displayed */
#events-div{
    border-bottom: 3px solid #e6e6e6;
    width: 100%;
    height: auto;
    min-height: 33%;
    padding-bottom: 25px;
}

#event{
    height: 100%;
    padding: 0px;
} 

#event-info-div {
    height: 100%;
    font-size: 12px;
    padding-top: 10%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#events-table {
    width: 75%;
}

#event-image {
    padding-top: 50%;
    padding-bottom: 50%;
}

/* Styles for the Clubs to be displayed */
#clubs-div {
    border-bottom: 3px solid #e6e6e6;
    width: 100%;
    height: auto;
    min-height: 33%;
    padding-bottom: 25px;
}

#club{
    height: 100%;
    padding: 0px;
} 

#clubs {
    height: 100%;
}
#club-info-div {
    height: 100%;
    font-size: 12px;
    padding-top: 15%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#clubs-table {
    width: 75%;
}

#club-image {
    padding-top: 50%;
    padding-bottom: 50%;
}

/* Styles for the Social Areas to be displayed */
#social-areas-div {
    border-bottom: 3px solid #e6e6e6;
    width: 100%;
    height: auto;
    min-height: 33%;
    padding-bottom: 25px;
}

#social-area {
    height: 100%;
    padding: 0px;
} 

#social-areas {
    height: 100%;
}
#social-info-div {
    height: 100%;
    font-size: 12px;
    padding-top: 15%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#social-table {
    width: 75%;
}

#social-image {
    padding-top: 50%;
    padding-bottom: 50%;
}

a {
    color: #000000;
}

a:hover {
    color: rgba(0,0,0,0.9);
}

#page h2 {
    padding-left: 20px;
}

#password-error {
    width: 50%;
    float: left;
    margin-left: 54px;
}

.alert-danger {
    border: 0px;
    background-color: transparent ;
    color: #e60000;
    
}

.modal-body {
    display:block;
    margin:auto;
    height: 80%;
    width: 80%;
}

.modal-header, .modal-footer {
    background-color: #f7f7f7;
}

.modal-title {
    text-align: center;
}

#details-image {
    height: 50%;
    width: 50%;
    display:block;
    margin:auto;
}

/*.push {
    height: 50px;
}

.footer {
  position: relative;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #E1810D;
} */
